" Emulated Plugins
set surround

" Use Idea to join lines smartly
set ideajoin

" Copy to system clipboard as well
set clipboard+=unnamed

" Multiple cursors support
set multiple-cursors

" leader
let mapleader="\<Space>"

nnoremap <leader>o :action GotoSymbol<CR>
nnoremap <c-p> :action GotoFile<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>w :w<CR>
nnoremap <leader>x :q<CR>
nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>
nmap <leader>/ :action CommentByLineComment<CR>
