[alias]
lg = "!f() { git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit $@; }; f"
lgr = "!f() { git log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reverse $@; }; f"
lgd = "!f() { git log --color --graph --pretty=format:'%C(yellow)%h%x09%Creset%C(cyan)%C(bold)%ad%Creset %C(yellow)%cn%Creset %C(green)%Creset %s' --date=default $@; }; f"
lgrd = "!f() { git log --color --pretty=format:'%C(yellow)%h%x09%Creset%C(cyan)%C(bold)%ad%Creset %C(yellow)%cn%Creset %C(green)%Creset %s' --date=default --reverse $@; }; f"
tree = lg --all
mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	assume-unchanged = update-index --assume-unchanged
	assume-changed = update-index --no-assume-unchanged
dft = difftool
[user]
email = shashanksharma21@gmail.com
name = Shank
[color]
ui = auto
[merge]
tool = vscode
[mergetool "vscode"]
cmd = code --wait $MERGED
[include]
path = ~/.gitconfig_private
[fetch]
	prune = true
[core]
	autocrlf = input
	excludesfile = /home/shank/.gitignore_global
	filemode = false
[credential]
	helper = store
[pull]
	rebase = true
[diff]
	mnemonicPrefix = true
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[init]
	defaultBranch = master
[pager]
	branch = false
[submodule]
	recurse = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
