[G0]
timername=15 min
time=900
timercommand=
timerinfo=15m 0s
is_countdown=true

[G1]
timername=30 min
time=1800
timercommand=
timerinfo=30m 0s
is_countdown=true

[G2]
timername=45 min
time=2700
timercommand=
timerinfo=45m 0s
is_countdown=true

[others]
nowin_if_alarm=false
selecting_starts=true
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

