.window_main {
    background: #fbf1c7;
    color: #3c3836;
    opacity: 1;
    border-color: transparent;
}
.break_screen_root {
    background: #fbf1c7;
}
.lbl_message {
    font-size: 22pt;
    color: #3c3836;
    font-weight: bold;
}
.lbl_count {
    font-size: 12pt;
    color: #7c6f64;
}
.lbl_widget {
    font-size: 10pt;
    color: #3c3836;
}
.btn_skip, .btn_postpone {
    color: #3c3836;
    font-size: 10pt;
    border-radius: 25px;
    padding: 10px 25px;
    border-color: #3c3836;
    background: transparent;
    border-width: 2px;
}
.btn_skip:hover, .btn_postpone:hover {
    background: #3c3836;
    color: #fbf1c7;
}
.toolbar {
    background: transparent;
    opacity: 1;
    border-color: transparent;
}
.btn_menu {
    background: rgba(0, 0, 0, 0.1);
    color: inherit;
}
